.task {
    transition: 0.3s ease color, 0.3s ease background-color;
    padding: rem(12px) rem(12px) rem(8px) rem(12px);
    margin-bottom: rem(8px);
    position: relative;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
    border-radius: var(--mantine-radius-md);
    border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));

    @mixin hover {
        color: light-dark(var(--mantine-color-dark-4), var(--mantine-color-white));
        background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));

        .actions {
            opacity: 0.5;
        }

        .user {
            border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
        }

        .priorityIndicator {
            opacity: 1;
        }
    }
}

.priorityIndicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: rem(5px);
    border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease opacity;
}

.name {
    cursor: pointer;
    padding-right: rem(20px);
}

.actions {
    opacity: 0;
    transition: 0.3s ease opacity;
    position: absolute;
    top: rem(5px);
    right: rem(5px);
}

.completed {
    opacity: 0.35;
}
